*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
 
:root{
  --white:#fff;
  --smoke-white:#f1f3f5;
  --blue:#4169e1;
  --blue-light: rgb(147, 147, 248);
  --red: red;
}
.bg-blue-light{
  background-color: var(--blue-light);
}
.selector{ 
  display:flex;
  /* justify-content:space-around; */
  justify-content:center;
  align-items:center; 
}
.selecotr-item{
  position:relative;
  /* flex-basis:calc(70% / 3); */
  /* height:100%; */
  display:flex;
  justify-content:center;
  align-items:center;
}
.selector-item_radio{
  appearance:none;
  display:none;
}
.selector-item_label{
  position:relative; 
  text-align:center; 
  font-weight:900;
  transition-duration:.5s;
  transition-property:transform, color, box-shadow;
  transform:none;
  background-color: white;
  width: 30px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.selector-item_radio:checked + .selector-item_label{
  /* background-color:var(--blue); */
  background-color:var(--red);
  color:var(--white); 
  /* transform:translateY(-2px); */
}
@media (max-width:480px) {
.selector{
  width: 90%;
}
}